<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>UAS BIML</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #cc99ff;">
  <h1>Predictive Income</h1>
 <div class="center">
      <form action = "http://localhost:5000" method = "POST">
         <p> Input Harga Endorse <input type = "text" name = "Biaya Endorse" /> <input type = "submit" value = "OK" /> </p>
      </form>
    
   <p>Prediksi Pendapatan dari Endorse: {{ result }}</p>
   </div>
   </body>
<style>
    .div2 {
     width: 500px;
     height: 100px;  
     padding: 50px;
     border: 5px solid black;
   }
   </style>
</html>